.officers-table {
    display: table;
    width: 100%;
}

.officer-tile {
    display: table-cell;
}

#club-info {
  max-width: 1600px;
}

@media screen and (min-width: 993px) {
  #club-info {
    width: 95%;
  }
}

@media screen and (min-width: 1024px) {
  #club-info {
    width: 90%;
    max-width: 1600px; 
  }
}

#events {
  height: 75%;
}

#events-carousel {
  height: 93%;
}

.fa {
  color: black;
}
